.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding: 0 3px;
}
.nav :hover{
    fill: #8114fd;
    transition-property: fill;
    transition-duration: 0.6s;
}
.nav-icon{
    color: white;
    height: 32px;
    width: 32px;
    background-color: transparent;
    transition-property: fill;
    transition-duration: 0.6s;
}

@media (max-width: 1024px){
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 6%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 0 3px;
    }
}

@media (max-width: 540px){
    .navbar {
        font-size: 0;
        position: fixed;
        top: 0;
        background-color: #242424;
        left: 0;
        height: 6%;
        width: 100vw;
        display: flex;
        z-index: 1 ;
    }

}