.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 2vh;
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footertext{
    color: white;
    font-weight: 500;
    font-size: 15px;
}

@media (max-width: 540px){
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 40px;
        background-color: blueviolet;
        position: fixed;
        bottom: 0;
    }
    .footertext{
        font-size: 12px;
        color: white;
        margin: 0 10px;
    } 

}
