.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3vh;
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footertext{
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin: 0 10px;
}

@media (max-width: 540px){
    .footer {
        width: 100%;
        height: 40px;
    }
    .footertext{
        font-size: 13px;
    } 

}