.footer {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100vw;
    height: 3vh;
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footertext{
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin: 5px 5px;
}

@media (max-width: 1366px) {
    .footer{
        height: 3.5vh;
    }
}
@media (max-width: 1024px) {
    .footer{
        height: 4.5vh;
    }
    .footertext{
        font-size: 14px;
    }
    
}

@media (max-width: 540px){
    .footer {
        height: 4.5%;
    }
    .footertext{
        font-size: 9px;
    } 

}

@media (max-width: 375px){
    .footer {
        height: 5%;
    }

}


